<html>
    <head>
        <title>jonathanIFRNflemerson</title>
    </head>
    <body>
        <h1>Aplicações de jonathanIFRNflemerson</h1>
        <h4>Selecione o App:</h4>
        <ul>
            <li><a href = '{% url 'enquetes:index' %}'>Aplicação Enquetes</a></li>
            <li><a href ='{% url 'financeapp:index' %}'>Aplicação FinanceApp</a></li>
        </ul>

    </body>
</html>