<html>
    <head>
        <title>App enquete</title>

    </head>
    <body>
        <h2>Aplicação de enquete</h2>
        <h4>Detalhes da enquete #{{enquete.id}}<br/>
        (<i>{{ enquete.data_publicacao }}</i>)</h4>
        <h4>{{enquete.texto}}</h4>
        Escolha a sua opção:
        {% if error_message %}
           <p><strong>{{error_message}}</strong></p>
        {% endif %}
        <form action="{% url 'enquetes:votacao' enquete.id %}" method="post">
            {% csrf_token %}
            {% for op in enquete.opcao_set.all %}
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="opcao" id= "opcao{{ forloop.counter }}" value="{{op.id}}"/>
                <label for="opcao{{ forloop.counter }}">{{op.texto}}</label><br/>
            {% endfor %}
            <p><input type="submit" value="Enviar voto" /></p>
        </form>
    </body>
</html>