{%load static%}
<html>
     <head>
         <title>Enquetes App</title>
         <link rel="stylesheet" type="text/css" href="{% static 'enquetes/style.css' %}"/>
     </head>

     <body>
         <h2>Aplicação de enquetes</h2>
         <hr/>
         {% if ultimas_enquetes %}
             <ul>
                {% for enq in ultimas_enquetes %}
                   <li><a href = "{%  url 'enquetes:detalhes' enq.id %}">{{ enq.texto }}</a></li>
                {% endfor %}
             </ul>
         {% else %}
            <p>Nenhuma pergunta cadastrada.</p>
         {% endif %}
         <hr/>
         <a href = "{% url 'main:index' %}"><img src = "{% static 'enquetes/images/setahome.png' %}"/></a>
         <hr>
            <img src = "{% static 'enquetes/images/jovemqueixo.png' %}"/>
         <hr/>

     </body>
</html>
