{%load static%}
<html>
    <head>
        <title>App enquete</title>
        <link rel="stylesheet" type="text/css" href="{% static 'enquetes/style.css' %}"/>
    </head>
    <body>
        <h2>Aplicação de enquete</h2>
        <h4>resultados da enquete #{{enquete.id}}<br/>
        (<i>{{ enquete.data_publicacao }}</i>)</h4>
        <h4>{{enquete.texto}}</h4>
        Total de votos por opção:
        <ul>
        {% for op in enquete.opcao_set.all %}
            <li>{{op.texto}} = {{op.votos}} voto{{op.votos|pluralize}}</li><br/>
        {% endfor %}
        </ul>
        <hr/>
        <a href ="{% url 'enquetes:detalhes' enquete.id%}">Voltar novamente</a>
        | <a href = '{% url 'enquetes:index'  %}'>Enquetes</a>
    </body>
</html>