body {
    background: white url("images/background.jpg");
}
li a {
    color: gray;
    font-weight:bolder;
}

h2 {
    color: #00008B;
}

hr {
    height:5px;
	border: 1px solid;
    border-color: #f00 #960 #00f #0f0;
}