{%load static%}
<html>
     <head>
         <title>FinanceappApp</title>
     </head>

     <body>
         <h2>Controle de finanças</h2>
         Usuários cadastrados:
         <hr/>
         {% if usuarios %}
             <ul>
                {% for user in usuarios %}
                   <li><a href = "{%  url 'financeapp:detalhes' user.id %}">{{ user.nome }}</a></li>
                {% endfor %}
             </ul>
         {% else %}
            <p>Nenhum usuário cadastrado.</p>
         {% endif %}
         <hr/>
         <a href = "{% url 'main:index' %}">Voltar</a>
         <hr>
            <img src = "{% static 'financeapp/images/money.png' %}"/>
         <hr/>

     </body>
</html>