<html>

    <head>
        <title>FinanceApp</title>
    </head>

    <body>
        <h2>FinanceApp</h2>
        <h3>Detalhes financeiros do usuário {{usuario.nome}}</h4>
        <hr>
            <h4>Receitas do usuário</h4>
            {% if error_message %}
                <p><strong>{{error_message}}</strong></p>
            {% endif %}
            {% for rec in usuario.receita_set.all %}
                <ul>
                    <li>Serviço: {{rec.servico}}</li>
                    <li>Salario: {{rec.salario}}</li>
                </ul>
            {% endfor %}
        <hr/>
        <hr>
            <h4>Despesas fixas</h4>
            {% if error_message %}
                <p><strong>{{error_message}}</strong></p>
            {% endif %}
            {% for des in usuario.despesafixa_set.all %}
                <ul>
                    <li>Despesa: {{des.despesa}}</li>
                    <li>Valor: {{des.valor}}</li>
                </ul>
            {% endfor %}
        <hr/>
        <hr>
            <h4>Despesas Eventuais</h4>
            {% if error_message %}
                <p><strong>{{error_message}}</strong></p>
            {% endif %}
            {% for des in usuario.despesaeventual_set.all %}
                <ul>
                    <li>Despesa: {{des.despesa}}</li>
                    <li>Valor: {{des.valor}}</li>
                    <li>Prestações: {{des.tempo_divida_mes}}</li>
                </ul>
            {% endfor %}
        <hr/>
        <a href = "{% url 'main:index' %}">Voltar</a>


    </body>
</html>